.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0;
    height: 2rem;
  }
  

  
  .header_button {
    border: 1px solid black;
    background: white;
    width: fit-content;
    margin: 1rem 1rem 7rem auto;
    text-align: center;
    padding: 0.7rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0.5rem 0.5rem 1rem 0.3rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
  
  }
  
  .header_button:hover {
    background-color: black;
    color: white;
    margin: 1rem 1rem 7rem auto;
  }
  
  .button_container {
    margin-left: 0.5%;
  }