.table_container {
    padding: 1rem
}

.h2 {
    font-size: 1.5rem;
    text-align: left;
}

.order_table {
    width: 100%;
    border: 1px solid #232323;
    padding: 1rem;
    border-spacing: 0;
    border-collapse: collapse;
}

.table_tr {
    background-color: rgba(138, 138, 138, 0.218);
    border: 1px solid #232323;

}

.table_th {
    border: 1px solid black;
    padding: 0.1rem 1rem;
    margin: 0;
}

.table_td {
    border: 1px solid black;
    padding: 0.1rem 1rem;
    text-align: left;
}